.message{
    padding: 1rem;
    position: absolute;
    top: 2rem;
    right: 1rem;
    transform: translateX(120%);
    animation: pop 1s ease-out 2 alternate;
    &.success {
        color: #4F8A10;
	    background-color: #DFF2BF;
        border: 1px solid #4F8A10;
    }
    &.error {
        color: #D8000C;
	    background-color: #FFBABA;
        border: 1px solid #D8000C;
    }
    &__text {
        font-size: 1rem;
    }
}

@keyframes pop {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0%);
    }
}