@use '../../styles/_vars.scss' as v;

.header {
    background-color: v.$blueColor;
    display: flex;
    padding: v.$gutter * 1.3;

    &__burger {
        display: none;
    }

    &__left-container {
        flex-basis: content;

        &__sitename {
            display: flex;
            align-items: center;
        }
    }
    
    &__right-container {
        flex: auto;
    }

    &__logo {
        font-size: 2.5rem;
        font-weight: bold;
        color: v.$lightColor;
        margin-right: 0.5rem;
    }
    
    &__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        &__li {
            color: v.$whiteColor;
            text-decoration: none;
            font-size: 1.1rem;
            cursor: pointer;
            position: relative;
            transition: 0.2s;
            margin-left: 2rem;
            padding: 0.7rem;

            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 0;
                bottom: 6px;
                left: 5%;
                background-color: v.$lightColor;
                transition: 0.3s;
            }

            &:hover {
                color: v.$lightColor;
            }
            &:hover::after {
                width: 90%;
            }
        }
    }

    &__title {
        color: v.$whiteColor;
        font-size: 2rem;
        font-weight: bold;
    }
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    background-color: v.$blueColor;
    position: absolute;
    right: 0;
    top: 73.59px;
    border-top: 1px solid white;
    height: calc(100vh - 73.59px);
    z-index: 100;
    transform: translateX(110%);
    transition: transform .5s;

    &.active {
        transform: translateX(0%);
    }
 
    &__nav {
        padding: 3rem 0;
        &__li:first-child {
            border-top: 1px solid white;
        }
        &__li {
            display: block;
            padding: 1rem 2rem;
            color: white;
            border-bottom: 1px solid white; 
            cursor: pointer;
            transition: .2s;
            &:hover {
                background-color: darkblue;
                color: white;
            }
        }
    }

}

@media all and (max-width: v.$firstBreakpoint) {
    .header {
        display: flex;
        justify-content: space-between;
        &__right-container {
            display: none;
        }

        &__burger {
            display: block;
            margin: auto 0;
            position: relative;
            cursor: pointer;
            width: 35px;
            height: 26px;
            transition: .2s;
            &__top, &__bottom, &__middle {
                content: "";
                position: absolute;
                width: 32px;
                height: 4px;
                background-color: white;
            }
            &__middle {
                top: 50%;
                transform: translateY(-50%);
            }
            &__top {
                top: 0;
            }
            &__bottom {
                bottom: 0;
            }
        }

        &__burger.active &__burger__top{
            top: 50%;
            transform: translateY(-50%) rotate(45deg)
        }
        &__burger.active &__burger__bottom{
            bottom: 50%;
            transform: translateY(50%) rotate(315deg);
        }
        &__burger.active &__burger__middle{
            opacity: 0;
        }
    }
    .menu-mobile {
        height: calc(100vh - 64.38px);
        top: 64.38px;
    }
}