@use '../../styles/vars' as v;

.home {
    display: flex;
    flex: 1;

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: v.$gutter;
        background-color: v.$lightColor;

        &__text {
            line-height: 1.2;
            margin-bottom: 2rem;
        }

        &__list {
            &__step {
                margin-bottom: v.$gutter * 0.5;
            }
        }
    }

    &__link {
        display: block;
        background-color: v.$blueColor;
        color: white;
        padding: 1rem 2rem;
        width: 50%;
        border-radius: 10px;
        margin: 2rem auto;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        transition: .2s;

        &:hover {
            color: white;
            background-color: darkblue;
        }
    }
}

/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 40px;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: v.$blueColor;
  }

  @media all and (max-width: 650px) {
      .home {
          flex-direction: column;

          &__description {
              width: 100%;
          }
      }

      .slideshow {
          margin: 2rem auto;
          width: 70%;
          max-width: 250px;
      }
  }