@use '../../styles/vars' as v;

.form-input {
    border: 1px solid v.$blueColor;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.7rem 0.8rem;
    margin: 0.4rem 0;

    &::placeholder {
        font-size: 1rem;
    }
}